{% extends 'base.html.twig' %}
    {% block body %}

        {{ form_start(form) }}
        <div style="margin: 80px" class="row">
            <div class="row">
                <div class="col s12">
                    {{ form_errors(form.price) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="id" id="id" type="number" class="validate" disabled>
                    <label for="id">id</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.title, {'attr': {'class': 'validate', 'id:': 'title' }}) }}
                    <label for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.content, {'attr': {'class': 'materialize-textarea', 'id:': 'textarea' }}) }}
                    <label for="textarea">content</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.price, {'attr': {'class': 'validate', 'id:': 'price' }}) }}
                    <label name="" for="price">price</label>
                </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn-large">SAVE</button>
        </div>
        {{ form_end(form) }}
    {% endblock body %}