{% extends 'base.html.twig' %}
{% block body %}

    <p>
    {{ annonce.title }}<br>
    {{ annonce.content }}<br/>
    {{ annonce.price }}<br/>
    {{ annonce.createdAt | date("m/d/Y") }}</p>
    <a href="{{ path('annoucements',{'id':annonce.id}) }}">retour à la liste</a>

{% endblock %}